# ignore all logs
*.log

# local convenience files
.env
*.sh
website.code-workspace

# macOS
.DS_Store

# IntelliJ IDEA
.idea/

# Visual Studio Code
.vscode/

# node.js
node_modules/

# hugo site files
public/
resources/

# hugo build lock
.hugo_build.lock

